/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: transparent;
}

html {
  background-color: transparent;
}

.background-yellow {
  background-color: #ffeb3b;
}

.background-red {
  background-color: #c04b20;
}

.background-green {
  background-color: #388e3c;
}

.background-darkblue {
  background-color: #0072ce;
}
.background-lightblue {
  background-color: #63dcfb;
}

.background-orange {
  background-color: #ff9800;
}

.background-pink {
  background-color: #f08be6;
}

/* Common Banner and Navigation */
.tabs-banner {
  background: none;
  padding: 17px 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}

.tab-link {
  color: Black;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  gap: 15px;
}

.tab-link:hover {
  opacity: 0.7;
}

.tab-link.active {
  font-weight: 650;
}

.tab-link .icon {
  font-size: 18px;
}

.logo-icon {
  position: absolute;
  right: -180px;
  padding-top: 10px;
  cursor: pointer;
}

.logo-icon img {
  width: 27%;
  height: auto;
}

/* Text Style Classes */
.text-title1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 1.5;
  color: #757272;
}

.text-title2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3;
  color: #757272;
}

.text-title3 {
  font-size: 40px;
  font-weight: 650;
  line-height: 2.8;
  color: #757272;
}

.text-content1 {
  font-size: 30px;
  font-weight: 650;
  line-height: 2.5;
  color: #757272;
  max-width: 800px;
}

.text-content2 {
  text-align: center;
  font-size: 50px;
  font-weight: 650;
  line-height: 1.4;
  color: #757272;
  max-width: 800px;
  padding-bottom: 100px;
}

.text-content3 {
  font-size: 25px;
  color: white;
  font-weight: 400;
  line-height: 1.2;
}

.text-content-darkblue {
  color: #0072ce;
}
.text-content-lightblue {
  color: #63dcfb;
}

.text-content-yellow {
  color: #ffeb3b;
}

.text-character-quality-red {
  color: #c04b20;
}

.text-character-quality-green {
  color: #388e3c;
}

.text-card-name {
  font-size: 45px;
  font-weight: 650;
  color: black;
  line-height: 1.7;
}

.text-card-quality {
  font-size: 40px;
  font-weight: 400;
  color: white;
  line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
  .tabs-banner {
    padding: 15px 20px;
  }

  .navigation {
    gap: 15px;
    flex-wrap: wrap;
  }

  .nav-link {
    font-size: 14px;
  }

  .logo-icon {
    position: static;
    margin-left: auto;
  }

  .text-main-title {
    font-size: 48px;
  }
}
